header
{
background-color: blue;
}
#kolor1
{
background-color: red;
}
.article 
{
background-color: yellow;
}
aside {
background-color: aqua;
}
.footer {
background-color: pink;
}
main
{
	display:flex;
}
.poz1
{
	flex: 2;
}

.poz2
{
	 flex: 1;
}